/* Stylesheet */

/*
Scroll Bar
*/


/*
List of browsers:
webkit
ms
o
moz
*/

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(230, 230, 230, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(230, 230, 230, 0.8); 
}

/* 
Stuff
*/

body {
	background-color: rgb(56, 56, 56);
}

#topPlayersTable {
	border: 3px solid blue;
}

#topPlayersTable  th, td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	/*border-width: 1px;*/
	border-spacing: 2px;
	/*border: solid;*/
	border: 1px solid black;
	/*border-collapse: collapse;*/
}

/*
Player Image
*/

#player-image {
	width: 500px;
	height: 500px;
	border-radius: 15px;
	position: relative;
}

#player-image-wrapper {
	width: 500px;
	height: 500px;
	/*background-color: green;*/
	margin: 10px;
}

#basic-info {
	color: white;
	font-size: 25px;
	display: inline-block;
	margin: 10px;
	/*margin-left: -200px;*/
	/*float: right;*/
	/*right: 0;*/
	position: absolute;
	z-index: 30;
}

#name {
	margin: 10px;
}

#level {
	margin: 10px;
}

/*
Stats Navigation Bar
*/

#stats-nav {
	position: relative;
	height: 80px;
	overflow: auto;
	z-index: 150;
	margin-left: 10px;
	margin-bottom: -80px;
	border-radius: 15px;
	max-width: 508px;
}

#stats-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
}

#stats-list li {
	float: left;
}

li .stats-link {
	padding: 12px 16px 12px 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	width: 68px;
	height: 42px;
	text-decoration: none;
	background-color: rgb(45, 45, 45);
	border-radius: 15px;
}

li .stats-link:hover {
	background-color: #555;
	color: white;
	/*border-radius: 15px;*/
}

#stats-list li .stats-link {
	color: rgba(255, 255, 255, 0.7);
}

/*
Stats Content
*/

.hide {
	display: none;
}

.stats-content {
	margin: 10px;
	margin-top: 90px;
	height: 300px;
	width: 500px;
	position: relative;
	background-color: rgb(45, 45, 45);
	border-radius: 15px;
}

div table {
	/*border: 3px solid blue;*/
	padding: 10px;
	width: 100%;
}

div table thead tr td {
	text-align: center;
	color: white;
	border: 2px none white;
}

div table tbody tr td {
	color: rgba(255, 255, 255, 0.7);
	/*border: 1px solid rgba(255, 255, 255, 0.7);*/
}

div table tbody tr td:nth-child(1) {
	color: rgba(255, 255, 255, 1);
	width: 80%;
	border: none;
	border-right: 1px solid rgba(255, 255, 255, 0.7);
}

div table tbody tr td:nth-child(2) {
	/*width: 40%;*/
	padding-left: 5%;
	border: none;
}



