/* Stylesheet */

body {
	background-color: rgb(56, 56, 56);
}

#topPlayersTable {
	border: 3px solid blue;
}

#topPlayersTable  th, td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	/*border-width: 1px;*/
	border-spacing: 2px;
	/*border: solid;*/
	border: 1px solid black;
	/*border-collapse: collapse;*/
}

/*
Player Image
*/

#player-image {
	width: 500px;
	height: 500px;
	background-color: green;
	margin: 10px;
	border-radius: 15px;
}

/*
Stats Navigation Bar
*/

#stats-nav {
	position: relative;
	height: 80px;
	z-index: 150;
	margin-bottom: -80px;
	border-radius: 15px;
}

#stats-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
}

#stats-list li {
	float: left;
}

li .stats-link {
	padding: 12px 16px 12px 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	width: 80px;
	height: 42px;
	text-decoration: none;
	background-color: rgb(45, 45, 45);
	border-radius: 15px;
}

li .stats-link:hover {
	background-color: #555;
	color: white;
	/*border-radius: 15px;*/
}

#stats-list li .stats-link {
	color: rgba(255, 255, 255, 0.5);
}

/*
Stats Content
*/

.hide {
	display: none;
}

.stats-content {
	margin: 10px;
	margin-top: 200px;
	height: 300px;
	width: 500px;
	position: relative;
	background-color: white;
}





